
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgb(252,252,250);
    box-shadow: 8px 8px 5px #eeeeee, -8px -8px -5px #fff;
}
.navbar__logo{
    font-size: 32px;
    font-weight: 500;
    color:#000;
}
.navbar__container{
    width: 40%;
}
.navbar__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navbar__link > ul{
    list-style-type: none;
}
.navbar__link > li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    color:#000;
}

